.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    background-color: #f2f2f2;
    font: inherit;
    padding: 12px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    border-radius: 4px;
}

.InputElement:focus {
    outline: none;
    border-bottom: 3px solid #ff7730;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}